*{
    margin: 0;
    padding: 0;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.header ul li a img{
    margin: 0;
    padding: 0;
    color: cornflowerblue;
    height: 55px;
    width: 55px;
    justify-content: space-between;
    padding: 1% 4%;
    position: relative;
    margin-left: 90%;
    display: flex;
}
.space{
    margin-bottom: 0px;
}
.sp{
    margin-top: 0px;
}
.header ul li img{
    margin: 0;
    padding: 0;
    height: 290px;
    width: 290px;
    justify-content: space-between;
    position: relative;
    margin-left:0;
    margin-top: 0%;
    display: flex;
}

.header img{
    margin: 0;
    padding: 0;
    height: 150px;
    width: 150px;
    justify-content: space-between;
    position: relative;
    padding: 0% 4%;
    margin-left: 2%;
    display: flex;

    
}
.wrapper.six{
    background-color: #fcfafa00;
    margin-top: 0px;
    text-align: center;
    
    
  }
  .flicker {
    font-size: 4rem;
    font-family: 'Merienda', sans-serif;
    margin: 0rem auto;
    color: #0707c09e;
    background: -webkit-gradient(linear, left top, right top, from(#613636), to(#3e2626), color-stop(0.8, #ffffff)) no-repeat;
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
    background-size: 80px 80%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: flick 2.5s infinite;
  }
  @keyframes flick {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  .wrapper.four {
    background-color: #feffff02;
    font-size: 3rem;
    font-family:monospace;
    text-align: center;
}
.four .type{
    padding: 0rem 0rem;s
    width: 80%;

}
.four h3 {
    width: 16ch;
    border-right: 4px solid rgb(18, 18, 18);
    margin: 2rem auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20, end), blink-caret 1s step-end infinite alternate;
}
@-webkit-keyframes typing {
    from {
        width: 0;
    }
}
@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
.images1 ul li img{
    height: 400px;
    width: 450px;
    margin-left:70%;
    
}
.images2 ul li img{
    height:500px;
    width:500px;
    margin-left:4%;
} 
.images3 ul li img{
    height:250px;
    width:250px;
}
.textbox ul{
    list-style-type:none;
    width: 90%;
    border: 75px solid #6d9cc8e4 ;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
}
.textbox ul li{
    float: left;
}
.textbox ul li a{
    display: block;
    padding: 10px;
    margin-left: 100px;
}
.typing h5{
    margin-right: 90%;
}
